:root{
    --main-color: #4240e3;
    --secondary-color: #07073b;
    --accent-color: red;
    --verdecito: #2ecc71;
}

div {


    color: var(--secondary-color);

    p {

        color: var(--accent-color);


    }

}

p {

    color: var(--verdecito);

}