* {
    font-family: 'Calibri'
}

:root {
    --main-color: #e81a1a;
    --secondary-color: #2ecc71;
}



body {
    color: var(--main-color);
    background-color: #f5b4b4;
}

h1 {
    color: blue;
    background-color: #c9d1ff;
}

#p2 {
    color: purple;
    background-color: #e0b4f5;
}   

p {
    color: green;
    background-color: #b4f5b4;
}
.parrafo {
    color: orange;
    background-color: #f5e1b4;
}

a:hover {
    color: black;
}

#p2::first-letter {
    font-size: 200%;
    color:var(--main-color)
}