.enlace:visited {
    color: red;
}
.enlace:hover {
    color: green;
}   
.enlace:link {
    color: rgb(255, 160, 200);
}

.enlace.active {
    color: blue;
}   

div.contenedor {
    width: 200px;
    height: 200px;
    margin: 40px;
    padding: 15px;
    background-color: #76e37f;
    border: 1px solid #aaa;
    overflow: scroll;
}