/* Ejemplo 3 */
p {
    margin: 0;
    border: 1px solid #000;
}

#contenedor {
    display: grid;

    /* 1) 3 columnas explícitas de 90px */
    grid-template-columns: repeat(3, 90px);

    /* Contenedor de 450px (sobran 180px si solo hay 3 columnas de 90) */
    width: 450px;
    border: 2px solid #000;
    padding: 1px;
    gap: 10px;
    /* Ejemplo 3.1
    grid-auto-flow: column;
    */
    grid-auto-columns: 90px; /* Ejemplo 3.2 */
    grid-auto-rows: 90px;   /* Ejemplo 3.2 */
    

}







/* 2) Control de columnas/filas implícitas (quita esto y mira qué pasa)
  grid-auto-columns: 100px;
  grid-auto-rows: 100px;
}*/