body {
    margin: 0;
}

table {
    height: 200px;
    border: 4px solid black;
    font-family: Calibri, roboto, sans-serif;
    padding: 5px;
    background-color: rgb(227, 227, 227);

    td {
        border: 2px solid rgb(240, 144, 0);
        background-color: rgb(255, 233, 192)
    }

    .arriba {
        vertical-align: top;
    }

    .abajo {
        vertical-align: bottom;
    }

    .en_medio {
        vertical-align: middle;
    }
}

p{
    font-weight: 200;
    font-style:italic
    
}
#p3 {
    font-variant: small-caps /*versalitas*/
}
#p4 {
    font-weight: 600;
    font-style:oblique; /*no se aprecia la diferencia con italic, es muy sutil*/
}

.parrafo1 {
    vertical-align: baseline;
}

.parrafo2 {
    vertical-align: sub;
}

.parrafo3 {
    vertical-align: super;

}

.parrafo4 {
    vertical-align: -30px;

}

span {
    height: 100px;
    background-color: rgb(252, 255, 171);
}