body {
    padding: 0;
    margin: 0;
    font-family: Calibri, sans-serif;
}

header {
    background-color: #4CAF50;
    color: whitesmoke;
    padding: 1em;


    h1 {
        background-color: chartreuse;
        padding: 0.5em;
        text-align: center;
        border: 4px solid black;
        border-radius: 5px;
        /*border-width: 4px 6px 8px 10px;*/
        /*border-color: #000a01 #ffffff #005603 #00c507;*/
        /*border-style: solid dotted dashed double;*/
        
        margin: 2px 4px 6px 8px;
    }
    p{
        background-color: lightgray;
    }
