body {
    padding: 0;
    margin: 0;
    font-family: Calibri, sans-serif;
}

header {
    background-color: #4CAF50;
    color: whitesmoke;
    padding: 1em;


    h1 {
        background-color: chartreuse;
        padding: 0.5em;
        text-align: center;
        border: 2px solid black;
        border-width: 5px;
 
    }
    p{
        background-color: lightgray;
    }
