body {
    padding: 0;
    margin: 0;
    font-family: "Roboto", Calibri, sans-serif;
    /*background-image: url(zenitsu.jpg);
    background-size: cover;
    background-attachment: scroll;*/
 }
header {
    background-color: #4CAF50;
    color: whitesmoke;
    padding: 1em;


    h1 {
        background-color: chartreuse;
        padding: 2px 4px 6px 8px;
        text-align: center;
        border: 4px solid black;
        border-radius: 5px;
        border-width: 6px 8px; /*10px 12px;*/
        /*border-color: #000a01 #ffffff #005603 #00c507;*/
        /*border-style: solid dotted dashed double;*/

        margin: 2px 4px 6px 8px;
    }

    p {
        background-color: lightgray;
        border: 4px yellow solid;
        border-radius: 5px;
        border-width: 4px 8px;
        padding: 5px;
        outline: 3px solid orange;
        outline-offset: 5px;
    }
}

    main{
        min-height: 100vh;
        background-image: url(zenitsu.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-origin: padding-box;
        border: 20px solid whitesmoke;
        padding: 20px;
        }
    a{
        text-decoration: none; /*Para quitar las decoraciones*/
    }

    footer{
        background-color: orange
    }
